@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);

/*force empty scrollbar on short pages so there's no jump to pages with scrollbars*/
html {
height : 100%;
overflow-y: scroll;
}

body {
	font-family: 'Crimson Text', serif;
}

img {
	width:100%;
}

.content {
width:300px;
margin:0 auto;
text-align: center;
margin-top: 10%;

}

h1{
	font-size:4em;
}

h2 {
	font-style: italic;
	font-size:1em;
}

footer {
	position:absolute;
	bottom:20px;
	text-align:center;
	width:100%;
}

footer a {
	color: black;
	text-decoration: none;
	padding:15px;
	font-size:1em;
}

footer a:hover {
	text-decoration: underline;
}
